@mixin img-mobile {
    height: 100px;
    font-size: 25px;
}

@mixin img-tablet {
    height: 130px;
    font-size: 35px;
}

@mixin prop-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin prop-titles {
    color: $color-titles;
    width: $width-titles;   
    height: $height-titles;
    font-size: $font-size-titles;    
}

@mixin prop-display ($display, $justify) {
    display: $display;
    justify-content: $justify;
}

@mixin prop-background-proyect {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}