
/* por si quiero cambiar los fondos más adelante */
$background-header: whitesmoke;
$background-footer: whitesmoke;
$background-main: white; 


/* por si quiero cambiar los subtitulos más adelante */
$color-titles: rgb(255, 255, 255);
$width-titles: 100vw;
$height-titles: 178px;
$font-size-titles: 50px;   