header {
    background-color: $background-header;
    @include prop-display (flex, space-between);
    align-items: center;
}

.logoBar {
    display: inline-block;
    margin-left: 30px;
}

.navBar {
    @include prop-display (flex, right);
    margin-right: 30px;

    li {
        list-style: none;
        display: inline;
        font-family: 'Roboto Mono', monospace;
        font-size: 25px;
        align-self: center;

        a {
            text-decoration: none;
            color: black;
            margin-left: 10px;
            margin-right: 10px;
            word-spacing: -8px;
            display: block;
            text-align: center;

            &:hover {
                transform: scale(1.1);
                color: dimgrey;
            }
        }
    }
}
