/***************************
index mobile 
****************************/

@media screen and (max-width: 576px) {
    .contenedoresDeTexto {
        display: grid;
        justify-self: center;
        align-self: center;
        transform: scale(0.8);
    }

    .imagenMacbook {
        display: flex;
        background-position: bottom;
        background-image: url("../assets/img/imgMacbook768.svg");
        width: 100vw;
        height: 167px;
        font-size: 35px;
    }

    .navBar li {
        list-style: none;
        display: inline;
        font-size: 3vw;

        a {
            text-decoration: none;
            color: black;
            margin-left: 10px;
            margin-right: 10px;
            word-spacing: 1px;
        }
    }

    .logoBar {
        transform: scale(0.8);
        margin-left: 5px;
    }


/***************************
footer mobile 
****************************/


h2 {
    font-size: 3vw;
}

.contactBar {
    font-size: 2vw;
}

/***************************
curriculum mobile 
****************************/

.imagenCurriculum {
    @include img-mobile;
}

.fotoPerfil {
    content: url(../assets/img/fotoPerfilMobile.png);
    height: 100%;
}

.infoSobreMi {
    font-size: 12px;
}

/***************************
web tablet 
****************************/

.imgWebDesign {
    @include img-mobile;
}

/***************************
graphic tablet 
****************************/

.imgGraphicDesign {
    @include img-mobile;
}

/***************************
contacto tablet 
****************************/

.imgContacto {
    @include img-mobile;
}
}